<header class="barra">
  <a class="marca" routerLink="/home">
    Sala de Juegos
  </a>

  <nav class="nav">
    <a routerLink="/home">Inicio</a>
    <a routerLink="/quien-soy">Quién soy</a>

    <ng-container *ngIf="!estaLogueado">
      <a routerLink="/login">Iniciar sesión</a>
      <a routerLink="/registro">Registro</a>
    </ng-container>

    <ng-container *ngIf="estaLogueado">
      <span class="usuario-header">{{ emailUsuario }}</span>
      <button type="button" class="salir" (click)="cerrarSesion()">
        Cerrar sesión
      </button>
    </ng-container>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>