<section class="pagina home">
  <div class="presentacion">
    <p class="etiqueta">Programación IV - TP Sala de Juegos</p>

    <h1>Bienvenido a la Sala de Juegos</h1>

    <p class="subtitulo">
      Poné a prueba tu mente y divertite con distintos juegos interactivos.
    </p>

    <div class="acciones" *ngIf="!estaLogueado">
      <a class="boton" routerLink="/login">Iniciar sesión</a>
      <a class="boton secundario" routerLink="/registro">Crear cuenta</a>
    </div>

    <div class="panel-usuario" *ngIf="estaLogueado">
      <div>
        <span>Sesión iniciada</span>
        <strong>{{ emailUsuario }}</strong>
      </div>
      
    </div>
  </div>

  <div class="grilla juegos">
    <article class="tarjeta juego-card">
      <span>A</span>
      <h3>Ahorcado</h3>
      <p>Descubrí la palabra oculta seleccionando letras.</p>
    </article>

    <article class="tarjeta juego-card">
      <span>M</span>
      <h3>Mayor o menor</h3>
      <p>Adiviná si la próxima carta será mayor o menor.</p>
    </article>

    <article class="tarjeta juego-card">
      <span>P</span>
      <h3>Preguntados</h3>
      <p>Respondé preguntas y sumá puntos por aciertos.</p>
    </article>

    <article class="tarjeta juego-card">
      <span>N</span>
      <h3>No explotes</h3>
      <p>Arriesgá puntos ronda a ronda sin explotar.</p>
    </article>
  </div>
</section>